@mixin maxHeight($value) {
  height: #{calc($value/1800 * 100)}vw;
  max-height: #{$value}px;
}
@mixin maxWidth($value) {
  width: #{calc($value/1800 * 100)}vw;
  max-width: #{$value}px;
}

@function setSize($value) {
  @return max(#{calc($value/4)}px, #{calc($value / 1800 * 100)}vw);
}
@function setSize375($value) {
  @return max(#{calc($value/4)}px, #{calc($value / 375 * 100)}vw);
}

@mixin maxfont($value) {
  font-size: min(#{setSize($value)}, #{$value}px);
}
@mixin maxBorder($value) {
  border-radius: min(#{setSize($value)}, #{$value}px);
}
@function setSizeOfProp($value) {
  @return #{min(#{setSize($value)}, #{$value}px)};
}
@function setSizeOfProp375($value) {
  @return #{min(#{setSize375($value)}, #{$value}px)};
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../files/fonts/BebasNeue Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

* {
  padding: 0px;
  margin: 0px;
  @include maxfont(20);
  box-sizing: border-box;
}
.burger-is-active {
  overflow: hidden;
}
body {
  background: #000000;
  // backdrop-filter: blur(40px);
  color: #ffffff;
  font-family: "Bebas Neue";
}

.container {
  width: 66.6%;
  margin: auto;
  max-width: 1240px;
}

.red-arrow {
  @include maxWidth(48);
  @include maxHeight(48);
}
.pc {
  display: flex !important;
}
.mobile {
  display: none !important;
}
.hidden {
  display: none;
}
.active {
  max-height: none;
  height: 100vh;
  display: block;

  .img1 {
    display: none;
  }
  .img2 {
    display: block;
  }
  .container {
    // margin: 2.75vw auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top {
    display: flex;
    align-items: center;

    height: 5.5vw;
    max-height: 100px;
  }
  .middle {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #ffffff;
      @include maxfont(80);
      text-align: center;
      margin-bottom: setSizeOfProp(60);
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px setSizeOfProp(50) 40px;
    align-items: center;
    .links {
      display: flex;
      @include maxWidth(368);
      justify-content: space-between;
      img {
        @include maxWidth(80);
        @include maxHeight(80);
      }
    }
    .request {
      display: flex;
      align-items: center;
      justify-content: center;
      @include maxWidth(341);
      @include maxHeight(80);
      background-color: #ff3535;
      color: #ffffff;
      border-radius: setSizeOfProp(40);
      @include maxfont(32);
    }
  }
}

nav {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5.5vw;
  max-height: 100px;
  background: rgba(8, 8, 8, 0.9);
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    cursor: pointer;
  }
  // .nav-container {
  //   display: flex;
  //   justify-content: space-between;
  // }
  .img1 {
    display: block;
  }
  .img2 {
    display: none;
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .middle {
    display: none;
  }
  .bottom {
    display: none;
  }
  .logo {
    max-width: 115px;
    padding-left: 40px;
    img {
      @include maxWidth(115);
      @include maxHeight(16);
    }
  }
  .burger-menu {
    padding-right: 40px;
    img {
      @include maxWidth(32);
      @include maxHeight(20);
    }
  }
}
main {
  .about-regulations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 119vw;
    max-height: 2300px;
    margin-bottom: setSizeOfProp(60);
    .regulation-card {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: linear-gradient(
          118.13deg,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0.036) 100%
        ),
        #0b0b0b;
      border: 1px solid rgba(255, 255, 255, 0.06);
      @include maxBorder(60);
      margin-bottom: setSizeOfProp(20);
      .text {
        z-index: 2;
        width: 60%;
        padding: 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          @include maxfont(80);
          text-align: left;
        }
        .addition {
          @include maxfont(20);
          width: 65%;
          margin-top: 15%;
          color: rgba(255, 255, 255, 0.3);
        }
        .send-request {
          @include maxfont(32);
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row;
        }
      }
      .text-right {
        position: absolute;
        right: 0;
        // justify-content: flex-end;
        span {
          text-align: right;
          flex-direction: column;
        }
        .addition {
          align-self: flex-end;
        }
      }
      .card-bg {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        img {
          z-index: -1;
          width: 72.5%;
          height: 100%;
        }
      }
      .card-bg-left {
        justify-content: flex-start;
      }
    }
  }
  .about-text {
    @include maxfont(52);
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
  }
  .about-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 23.8vw;
    max-height: 458px;
    margin-top: setSizeOfProp(60);
    margin-bottom: setSizeOfProp(20);
    .link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 32.2%;
      background: linear-gradient(
          118.13deg,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0.036) 100%
        ),
        #0b0b0b;
      border: 1px solid rgba(255, 255, 255, 0.06);
      // border-radius: maxPlusvw(60);
      @include maxBorder(60);
      padding: 5% 5% 4% 5%;
      span {
        @include maxfont(32);
      }
      .link-tap {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        width: 100%;
        padding-top: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .stack-drum {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30.5vw;
    max-height: 586px;
    margin-bottom: setSizeOfProp(20);
    @include maxfont(62);

    .select-wrap {
      position: relative;
      height: 100%;
      text-align: center;
      overflow: hidden;
      font-size: 20px;
      color: #ffffff;
      &:before,
      &:after {
        position: absolute;
        z-index: 1;
        display: block;
        content: "";
        width: 100%;
        height: 50%;
      }
      &:before {
        top: 0;
        // background: linear-gradient(
        //   180deg,
        //   #1c1c1c 0%,
        //   rgba(28, 28, 28, 0) 100%
        // );
        // height: 224px;
        // background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
      }
      &:after {
        bottom: 0;
        // background-image: linear-gradient(to top, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0));
        // background: linear-gradient(
        //   180deg,
        //   #1c1c1c 0%,
        //   rgba(28, 28, 28, 0) 100%
        // );
        // transform: rotate(-180deg);
      }
      .select-options {
        @include maxfont(62);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        transform-style: preserve-3d;
        margin: 0 auto;
        display: block;
        transform: translateZ(-150px) rotateX(0deg);
        -webkit-font-smoothing: subpixel-antialiased;
        color: #666;
        .select-option {
          @include maxfont(62);

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50px;

          -webkit-font-smoothing: subpixel-antialiased;
          @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
              transform: rotateX(-18deg * ($i - 1)) translateZ(150px);
              @include maxfont(62);
            }
          }
        }
      }
    }

    .highlight {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      // background-color: #000;
      // border-top: 1px solid #333;
      // border-bottom: 1px solid #333;
      font-size: 24px;
      overflow: hidden;
    }
    .highlight-list {
      // display: none;

      position: absolute;
      width: 100%;
      .highlight-item {
        @include maxfont(62);
      }
    }
    .drum {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      padding: setSizeOfProp(60);
      padding-right: 0;
      background: linear-gradient(
          118.13deg,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0.036) 100%
        ),
        #0b0b0b;
      border: 1px solid rgba(255, 255, 255, 0.06);
      @include maxBorder(60);
      .drum-text {
        white-space: nowrap;
        @include maxWidth(228);
        // @include maxHeight(224);
        span {
          @include maxfont(62);
        }
      }
      .date-selector {
        cursor: pointer;
        perspective: 2000px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include maxWidth(246);
        // @include maxHeight(224);
        height: 100%;
        > div {
          flex: 1;
        }

        .select-wrap {
          @include maxfont(62);
        }
        .highlight {
          @include maxfont(62);
        }
      }
    }
    .text-block {
      width: 53%;
      background: linear-gradient(
          118.13deg,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0.036) 100%
        ),
        #0b0b0b;
      border: 1px solid rgba(255, 255, 255, 0.06);
      @include maxBorder(60);
      padding: setSizeOfProp(60);
      .row {
        display: flex;
        flex-direction: column;
        margin-bottom: setSizeOfProp(40);
        .header {
          @include maxfont(41);
          margin-bottom: setSizeOfProp(20);
          color: #ff3535;
        }
        .text {
          @include maxfont(25);
        }
      }
    }
    .drum_and_text {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: linear-gradient(
          118.13deg,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0.036) 100%
        ),
        #0b0b0b;
      border: 1px solid rgba(255, 255, 255, 0.06);
      min-height: calc(764 / 375 * 100vw);
      padding: calc(20 / 375 * 100vw) calc(32 / 375 * 100vw);
      .drum-mob {
        display: flex;
        height: calc(184 / 375 * 100vw);
        justify-content: space-between;
        align-items: center;
        margin-bottom: calc(40 / 375 * 100vw);
        span {
          font-size: calc(48 / 375 * 100vw);
        }
      }
      .date-selector2 {
        cursor: pointer;
        perspective: 2000px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        // @include maxWidth(246);
        // @include maxHeight(224);
        height: 100%;
        // width: 50%;
        flex-grow: 1;
        > div {
          flex: 1;
        }

        .select-wrap {
          // @include maxfont(62);
          .select-options {
            .select-option {
              font-size: calc(48 / 375 * 100vw);
            }
          }
        }
        .highlight {
          // @include maxfont(62);
          .highlight-list {
            .highlight-item {
              font-size: calc(48 / 375 * 100vw);
            }
          }
        }
      }
      .text-block {
        height: 75%;
        width: 100%;
        background: none;
        border: none;
        padding: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 0;
        padding-top: calc(40 / 375 * 100vw);
        .header {
          font-size: calc(40 / 375 * 100vw);
        }
        .text {
          font-size: calc(23 / 375 * 100vw);
        }
      }
    }
  }
  .form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27.38vw;
    max-height: 525px;
    background: linear-gradient(
        118.13deg,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(255, 255, 255, 0.036) 100%
      ),
      #0b0b0b;
    border: 1px solid rgba(255, 255, 255, 0.06);
    @include maxBorder(60);

    padding: 5%;
    .left-side {
      display: flex;
      flex-direction: column;
      span {
        @include maxfont(62);
      }
    }
    .right-side {
      width: 67.5%;
      .row1 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        padding-bottom: 5%;
        span {
          @include maxfont(62);
          color: rgba(255, 255, 255, 0.1);
        }
      }
      .row2 {
        padding-top: 5%;
        padding-bottom: 5%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        span {
          @include maxfont(41);
        }
      }
      .row3 {
        padding-top: 7.5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
          @include maxfont(32);
        }
      }
    }
  }
}
footer {
  // width: 100%;
  padding-top: setSizeOfProp(60);
  padding-bottom: setSizeOfProp(40);
  margin-top: setSizeOfProp(60);

  border: 1px solid rgba(255, 255, 255, 0.25);
  .footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5%;
    .text-group {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      margin-right: calc(16 / 1800 * 100vw);
    }
    .img-group {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      @include maxWidth(80);
      @include maxHeight(80);
      color: #ffffff;
      text-decoration: none;
      background: linear-gradient(
          118.13deg,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0.036) 100%
        ),
        #0b0b0b;
      border: 0.666667px solid rgba(255, 255, 255, 0.06);
      @include maxBorder(60);
      img {
        width: inherit;
        max-width: inherit;
        height: inherit;
        max-height: inherit;
      }
    }
    .footer-links-text {
      @include maxfont(32);
      @include maxWidth(261.33);
      @include maxHeight(80);
    }
  }
  .footer-text {
    width: 90%;
    margin: auto;
    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1%;
      span {
        @include maxfont(20);
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
@media (max-width: 521px) {
  .container {
    width: calc((375 - 32) / 375 * 100%);
  }
  .red-arrow {
    height: calc(48 / 375 * 100vw);
    width: calc(48 / 375 * 100vw);
    max-width: none;
    max-height: none;
  }
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .active {
    .top {
      height: 19.2vw;
      max-height: 72px;
    }
    .middle {
      a {
        font-size: calc(52 / 375 * 100vw);
        margin-bottom: calc(40 / 375 * 100vw);
      }
    }
    .bottom {
      flex-direction: column;
      padding: 0;
      padding-bottom: calc(16 / 375 * 100vw);
      .links {
        width: 100%;
        max-width: none;
        margin-bottom: calc(16 / 375 * 100vw);
        a {
          img {
            width: calc(80 / 375 * 100vw);
            max-width: none;
            height: calc(80 / 375 * 100vw);
            max-height: none;
          }
        }
      }
      .request {
        width: 100%;
        max-width: none;
        height: calc(80 / 375 * 100vw);
        max-height: none;
        border-radius: calc(40 / 375 * 100vw);
        font-size: calc(32 / 375 * 100vw);
      }
    }
  }
  nav {
    height: calc(72 / 375 * 100vw);
    max-height: 72px;
    .logo {
      padding-left: 0px;
      img {
        width: calc(115 / 375 * 100vw);
        height: calc(16 / 375 * 100vw);
      }
    }
    .burger-menu {
      padding-right: 0px;

      img {
        width: calc(26 / 375 * 100vw);
        height: calc(16 / 375 * 100vw);
      }
    }
  }
  main {
    .about-regulations {
      height: calc(2080 / 375 * 100vw);
      max-height: none;
      .regulation-card {
        border-radius: calc(40 / 375 * 100vw);
        margin-bottom: calc(12 / 375 * 100vw);
        padding-top: calc(20 / 375 * 100vw);
        .text {
          width: 100%;
          justify-content: flex-start;

          span {
            font-size: calc(52 / 375 * 100vw);
            text-align: center;
          }
          .addition {
            font-size: calc(20 / 375 * 100vw);
            width: 100%;
            margin-top: calc(24 / 375 * 100%);
          }
          .send-request {
            font-size: calc(32 / 375 * 100vw);
            margin-top: calc(32 / 375 * 100vw);
            padding-top: calc(16 / 375 * 100vw);
            justify-content: center;
            border-top: 1px solid rgba(255, 255, 255, 0.25);
          }
        }
        .text-right {
          span {
            text-align: center;
          }
        }

        .card-bg {
          height: auto;
          width: 100%;
          img {
            width: inherit;
          }
        }
      }
    }
    .about-text {
      font-size: calc(36 / 375 * 100vw);
      width: 92%;
    }
    .about-links {
      flex-direction: column;
      height: auto;
      max-height: none;
      margin-bottom: 0;
      .link {
        border-radius: calc(40 / 375 * 100vw);
        margin-bottom: calc(18 / 375 * 100vw);
        width: 100%;
        padding: calc(40 / 279 * 100%) calc(32 / 279 * 100%)
          calc(32 / 279 * 100%) calc(32 / 279 * 100%);
        span {
          font-size: calc(32 / 375 * 100vw);
        }
        .link-tap {
          padding-top: calc(32 / 375 * 100vw);
          margin-top: calc(50 / 375 * 100vw);
        }
      }
    }
    .stack-drum {
      height: auto;
      max-height: none;
      margin-bottom: calc(12 / 375 * 100vw);
      .drum_and_text {
        border-radius: calc(40 / 375 * 100vw);
      }
    }
    .form {
      height: auto;
      max-height: none;
      flex-direction: column;
      border-radius: calc(40 / 375 * 100vw);
      padding: calc(32 / 375 * 100vw);
      padding-top: calc(40 / 375 * 100vw);
      margin-bottom: calc(40 / 375 * 100vw);
      .left-side {
        text-align: left;
        width: 105%;
        span {
          font-size: calc(48 / 375 * 100vw);
        }
      }
      .right-side {
        width: 100%;
        .row1 {
          padding-bottom: calc(40 / 375 * 100vw);
          span {
            font-size: calc(48 / 375 * 100vw);
          }
        }
        .row2 {
          padding-bottom: calc(40 / 375 * 100vw);
          padding-top: calc(40 / 375 * 100vw);
          span {
            width: 95%;
            font-size: calc(28 / 375 * 100vw);
          }
        }
        .row3 {
          justify-content: space-between;
          padding-top: calc(32 / 375 * 100vw);
          span {
            font-size: calc(32 / 375 * 100vw);
          }
        }
      }
    }
  }
  footer {
    padding-top: calc(40 / 375 * 100vw);
    padding-bottom: calc(40 / 375 * 100vw);
    .footer-links {
      flex-direction: column;
      a {
        border-radius: calc(40 / 375 * 100vw);
      }
      .text-group {
        display: flex;
        flex-direction: column;
        margin-right: 0;
      }

      .img-group {
        a {
          width: calc(80 / 375 * 100vw);
          height: calc(80 / 375 * 100vw);
          max-width: none;
          max-height: none;
        }
      }
      .footer-links-text {
        width: inherit;
        height: auto;
        max-width: none;
        max-height: none;
        font-size: calc(32 / 375 * 100vw);
        height: calc(80 / 375 * 100vw);
        margin-bottom: calc(16 / 375 * 100vw);
      }
    }
    .footer-text {
      margin-top: calc(20 / 375 * 100vw);
      .row {
        flex-direction: column-reverse;
        align-items: center;
        span {
          font-size: calc(20 / 375 * 100vw);
          text-align: center;
          margin-bottom: calc(16 / 375 * 100vw);
        }
      }
      .row-2 {
        flex-direction: column;
      }
    }
  }
}
